#
# Copyright (c) 2010 Foresight Linux
# This file is distributed under the terms of the MIT License.
# A copy is available at http://www.rpath.com/permanent/mit-license.html
#

loadRecipe("trytonpackage")
class %(className)s(TrytonPackage):
    name = '%(name)s'

    prebuild = []
    deps = []

    def setup(r):
        TrytonPackage.setup(r)

