[Desktop Entry]
Name=Logout
Comment=Logout, shutdown or reboot
Exec=lxsession-logout
Icon=/usr/share/icons/default/48x48/apps/gnome-session-logout.png
Type=Application
NoDisplay=true
