[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Advanced Strategic Command
Comment=turn based strategy game
Exec=asc
Icon=/usr/share/games/asc/asc.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Game;
X-Desktop-File-Install-Version=0.11
