changesetCacheDir %(proxydir)s/cscache
proxyContentsDir %(proxydir)s/contents
tmpDir %(proxydir)s/tmp                                                                                                                                                       

memcache localhost:11211
memcachetimeout 604800
memcacheuserauth false
