[Desktop Entry]
Name=UNetbootin
Comment=Tool for creating Live USB drives
Categories=System;
Icon=usb.png
Exec=gksudo unetbootin
Terminal=false
Type=Application
