[Desktop Entry]
Name=TiMidity++
Comment=Real-time software synthesizer
Icon=timidity
Type=Application
Exec=timidity -ig
Terminal=false
Categories=X-Audio;AudioVideo;
