[Desktop Entry]
Encoding=UTF-8
Name=mtpaint
GenericName=mtpaint
Comment=Simple graphic editor
Exec=mtpaint
StartupNotify=true
Terminal=false
Type=Application
Icon=/usr/share/mtpaint/Mtpaint-logo.png
MimeType=text/html;text/xml;application/xhtml+xml;
Categories=Graphics;2DGraphics;RasterGraphics;GTK;
