[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Chromium Web Browser
Comment=Browse the World Wide Web
GenericName=Web Browser
Exec=/usr/bin/chromium-browser %U 
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=chromium-browser
Categories=GTK;Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=Chromium
StartupNotify=true

