[Desktop Entry]
Name=ScummVM
Comment=Virtual Machine for LucasArts adventure games
Exec=scummvm
Icon=scummvm
Terminal=false
Type=Application
Categories=Game;
