[Desktop Entry]
Type=Application
Version=1.0
Name=Xmoto
GenericName=Motocross game
GenericName[fr_FR]=Jeu de moto
Icon=/usr/share/pixmaps/xmoto.xpm
Exec=xmoto
Categories=Game;SportsGame;
